body,html{
    background-color: #ccc;
    color: #000;
    font-family: "verdana";
}
button{
    border: 0;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    transition: all .3s;
}
button:hover{
    background-color: rgb(109, 106, 106);
    color: #fff;
}